.view-cart .visualization-frame:before {
	content: " ";
	display: table;
}

.view-cart .visualization-frame:after {
	display: table;
	content: "";
	clear: both;
}

.view-cart .visualization-frame .base-image,
.view-cart .visualization-frame .visualization-image {
	float:left;
	margin-right:-100%;
	width:100%;
}

.view-cart .visualization-frame .base-image img,
.view-cart .visualization-frame .visualization-image img {
	width:100%;
	max-width:none;
}

.view-cart .cart-summary {
	width:calc(100% + 16px);
	margin:20px -8px;
}

.view-cart .cart-summary > thead > tr > th,
.view-cart .cart-summary > tbody > tr > th,
.view-cart .cart-summary > tbody > tr > td {
	border:none;
	padding:3px 10px;
}

.view-cart .cart-summary > thead > tr > th {
	border-bottom:1px solid #ccc;
}

.view-cart .cart-summary .grand-total td,
.view-cart .cart-summary .sub-total-merchandise td {
	border-top:1px solid #ccc;
}

.view-cart .cart-summary .item-price {
	text-align:right;
	white-space: nowrap;
}

.view-cart .cart-summary .item-quantity {
	width:90px;
	white-space: nowrap;
}

.view-cart .cart-summary .trigger-remove-position {
	margin-left:3px;
}

.view-cart .cart-summary .quantity-edit-wrapper {
	display:none;
}

.view-cart .cart-summary .sub-total-merchandise,
.view-cart .cart-summary .grand-total {
	font-weight:bold;
}

.view-cart .cart-summary .quantity-edit-wrapper .quantity-edit-box,
.view-cart .cart-summary .quantity-edit-wrapper .quantity-edit-box:focus {
	display: inline-block;
	width: 30px;
	height: 1.3em;
	line-height: 1.3em;
	border: none;
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	outline:none;
	box-shadow:none;
}

.view-cart .cart-position-configuration .selection-list-price-recurring,
.view-cart .cart-position-configuration .selection-list-price,
.view-cart .cart-position-configuration .selection-price-recurring,
.view-cart .cart-position-configuration .selection-price {
	text-align:right;
	white-space: nowrap;
}

.view-cart .cart-position-configuration .selection-list-total {
	font-weight:bold;
}

.view-cart .modal-content {
	padding:20px;
}

@media (min-width: 768px) {

	.cb-content .modal-dialog {
		width:90%;
		max-width:1000px;
	}

}

.view-cart .cart-position-configuration > tbody > tr > th {
	border-top:none;
}

.view-cart .quantity-textfield {
	width: 50px;
	display: inline-block;
	padding: 6px 12px;
	height: 45px;
	font-size: 20px;
	line-height: 1.42857143;
}

.view-cart .position-controls {
	clear:both;
}

.view-cart .cart-position-product-title {
	margin-top:0;
	margin-left:6px;
}

.view-cart a.fa:hover {
	text-decoration:none;
}
